<div class="side-nav fixed" id="sidebar">
  <div class="input-field fixed">
    <input id="search" required type="search">
    <label for="search">
      <i class="material-icons">search</i>
    </label>
  </div>
  <ul id="people">
    <li>
    <li>
      <a href="#">
        <i class="material-icons left" style="margin-top:18px;">language</i>Global

      </a>

    </li>
  </li>
  <center id="spinner">
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </center>
</ul>
</div>
